body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;

}

.section_top{
    width:100% ;
    color:black;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url('im2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    animation: change 10s infinite ease-in-out;
}


@keyframes change {
    0%
    
    {
        background-image: url(im2.jpg)
    }
           
    15%
   {
        background-image: url(im9.jpg);
    }
     30%
    {
        background-image: url(im4.jpg);
    }
     45%
    {
        background-image: url(ima.jpg);
    }
     60%
    {       
         background-image: url(imb.jpg);
    }
     75%
    {
        background-image: url(im7.jpg);
    } 
    100%
    {
        background-image: url(im8.jpg);
    }
   


}



/* Dropdown Button */

a:-webkit-any-link {
    color:peru;
    cursor: pointer;
    text-decoration: none;
    font-weight: bolder;
}


.button{
    background-color:transparent ;
    display: inline-block;
    border-radius:20px;
    transition: all 0.5s;
     padding: 10px 24px;
      cursor: pointer;
     text-align: ;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 150px;
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 1.5;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:active{
     box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button:hover {
  background-color:white;
  color: rebeccapurple;
  opacity: 1;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:visited{
    color:;
}


a:link {
  color: ;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color:;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: ;
  background-color: transparent;
  text-decoration:;
}

a:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    color:;
    background-color: transparent;
    text-decoration:;
}

